.outer {
    max-height: 2048px;
    background-color: rgb(89, 67, 170);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.input-outer {
    display: flex;
    height: 128px;
    width: 90%;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding-top: 12px;
    padding-bottom: 12px;
}

.inputs {
    display: flex;
    min-height: 128px;
    width: 45%;
    justify-content: center;
}

.buttons-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: red;
    height: 512px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.buttons-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    height: 100%;
    width: 92.8976%;
    justify-items: center; 
    align-items: stretch;
}

.button {
    width: 100%;
    height: 100%;
}

.output {
    background-color: red;
    width: 90%;
    height: 128px;
    padding-top: 12px;
    padding-bottom: 12px;
}