.header {
    background-color: rgb(89, 67, 170);
    min-height: 120px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
}

.left-header {
    background-color: white;
    min-height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-header {
    color: white;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 2em sans-serif;
}

.picture {
    width: 100px;
    height: 120px;
    box-sizing: border-box;
}